
  @import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Iceland&family=Oxanium:wght@200;300;400;500;600;700;800&family=Sirin+Stencil&display=swap');


/* fonts */
.en-iceberg{
    font-family: 'Iceberg', sans-serif;
}

.en-iceland{
    font-family: 'Iceland', sans-serif;
}

.en-Oxanium{
    font-family: 'Oxanium', sans-serif;
}

.en-sirin{
    font-family: 'Sirin Stencil', sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
}

.w-100{
    width: 100%;
}

.ls-l{
    letter-spacing: 0.2rem;
}

.ls-2{
    letter-spacing: 0.3rem;
}

.bg-img-body{
    position: fixed;
    z-index: -2;
    opacity: 0.5;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.M{
    color: wheat;
}

.U{
    color: aqua;
}

.Learn{
    color: white;
}


.score{
    color: rgb(248, 248, 248);
}

.ft-txt{
    text-wrap: nowrap;
}

.minw-25{
    min-width: 25vw;
}



.rankTopDiv{
    scroll-behavior: smooth;
    scrollbar-width:none;
    scrollbar-color: transparent;
}

.rankTopDiv::-webkit-scrollbar {
    width: 5px;
}

.rankTopDiv::-webkit-scrollbar-thumb {
    width: 5px;
}

/* .swipeRight{
    transform: rotate(90deg);
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 0;
    height: 150px;
    width: auto;
}

.swipeLeft{
    transform: rotate(270deg);
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 0;
    height: 150px;
    width: auto;
} */


.firstRank{
    background-image: url(assets/img/firstRankcardBg.webp);
    background-size: cover;
    border-radius: 10px;
}

.firstRankPic{
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.topRankScore{
    border: 1px solid wheat;
    color: wheat;
    border-radius: 5px;
    font-weight: 200;
    transition: all 0.5s;
}

.topRankScore:hover{
    color: black;
    background-color: #fff;
    border: 2px ridge rgb(0, 0, 0);
}

.text-silver{
    color: silver;
}

.text-bronze{
    color: #cd7f32;
}

.normalRankBg{
    background-color: #ffffff0e;
    border-bottom: 1px solid #fff;
}


.normalRankPic{
    width: 30px;
    height: auto;
}

#rankList{
    min-height: 0;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width:none;
    scrollbar-color: transparent;
}

#rankList::-webkit-scrollbar {
    width: 5px;
}

#rankList::-webkit-scrollbar-thumb {
    width: 5px;
}
