/* styles.css */
body {
    background-color: #f8f9fa;
}

.card {
    perspective: 1000px;
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    backface-visibility: hidden;
}

.card-front {
    position: relative;
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
}
/* 
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
} */

.header {
    padding: 70px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: bold;
    background:url("/assets/img/execombanner.jpg"),#ffffffcc;
    background-position: center;
    background-size: cover;
}

.header-text {
    font-size: inherit; /* Inherit the font size from the parent */
}

.card-back{
    background:linear-gradient(#00000065,#00000065), url(/assets/img/coreTeam/cardBack.png);
    background-size: cover;
    background-position: center;
}

.socialIcon{
    width: 23%;
}